.navbar {
    height: var(--navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 48px;
    width: 100%;
    backdrop-filter: blur(10px);
    filter: none !important;
    background-color: var(--navbar-color);
    box-shadow: 0 10px 30px -10px var(--shadow);
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 1rem;
}

.navbar-link {
    padding: 0.5rem;
    transition: var(--transition);
    font-size: var(--fz-xs);
    font-family: var(--secondary-font);
}

.navbar-link:hover {
    color: var(--primary);
}
